{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <title>Document</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/css/admin/admin.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/admin/modal.css' %}">

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/233c0f00ee.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

</head>

<body>
    <div class="contenedorInicial">
        <div class="contenedorPrincipal">
            <div class="containerIzq">
                <!--primera columna-->
                <div class="barraLateral">
                    <div class="logo">
                        <div class="logoIMG"><img src="{% static 'dashboard/img/logoICASOFT.webp' %}" alt="logo"
                                id="logo"></div>
                        <div class="nombreLogo">ICASOFT INGENIERÍA 21</div>
                    </div>
                    <div class="cuadroFunctions">
                        <div class="function">
                            <button class="btnFunction">
                                <div class="iconFunction">
                                    <i class="fa-solid fa-gear"></i>
                                </div>
                                <a href="{% url 'add_admin' %}" class="textFunction">ADMINISTRADOR</a>
                            </button>
                        </div>

                        <div class="function">
                            <button class="btnFunction">
                                <div class="iconFunction">
                                    <i class="fa-solid fa-screwdriver-wrench"></i>
                                </div>
                                <a href="{% url 'read_technician' %}" class="textFunction">TÉCNICOS</a>
                            </button>
                        </div>

                        <div class="function">
                            <button class="btnFunction">
                                <div class="iconFunction">
                                    <i class="fa-solid fa-ticket"></i>
                                </div>
                                <a class="textFunction">TICKETS</a>
                            </button>
                        </div>
                        <div class="function">
                            <button class="btnFunction">
                                <div class="iconFunction">
                                    <i class="fa-solid fa-users"></i>
                                </div>
                                <a href="{% url 'read_client' %}" class="textFunction">CLIENTES</a>
                            </button>
                        </div>
                
                        <div class="function">
                            <button class="btnFunction">
                                <div class="iconFunction">
                                    <i class="fa-solid fa-desktop"></i>
                                </div>
                                <a href="{% url 'product_list' %}" class="textFunction">PRODUCTOS</a>
                            </button>
                        </div>
                        <div class="function">
                            <button class="btnFunction">
                                <div class="iconFunction">
                                    <i class="fa-solid fa-book"></i>
                                </div>
                                <a href="{% url 'read_technician' %}" class="textFunction">CURSOS</a>
                            </button>
                        </div>
                        <div class="function">
                            <button class="btnFunction">
                                <div class="iconFunction">
                                    <i class="fa-solid fa-sliders"></i>
                                </div>
                                <a href="{% url 'read_technician' %}" class="textFunction">SERVICIOS</a>
                            </button>
                        </div>
                        <div class="function">
                            <button class="btnFunction">
                                <div class="iconFunction">
                                    <i class="fa-regular fa-file"></i>
                                </div>
                                <div class="textFunction">REPORTES</div>
                            </button>
                        </div>
                    </div>
                    <div class="SWvendidos">
                        <div class="textSW">SOFTWARES MÁS VENDIDOS</div>
                        <div class="cuadroSW">
                            <div class="imgSW">
                                <img src="{% static 'dashboard/img/antivirus.webp' %}" alt="antivirus" class="imgSW1">
                            </div>
                            <div class="cantidad">
                                <div class="cantView">
                                    <div class="textView">
                                        <div class="contentText">VIEW</div>
                                    </div>
                                    <div class="cantidadView">100</div>
                                </div>
                                <div class="cantView">
                                    <div class="textView">
                                        <div class="contentText">VENTAS</div>
                                    </div>
                                    <div class="cantidadView">100</div>
                                </div>
                            </div>
                        </div>
                        <div class="cuadroSW">
                            <div class="imgSW">
                                <img src="{% static 'dashboard/img/antivirus.webp' %}" alt="antivirus" class="imgSW1">
                            </div>
                            <div class="cantidad">
                                <div class="cantView">
                                    <div class="textView">
                                        <div class="contentText">VIEW</div>
                                    </div>
                                    <div class="cantidadView">100</div>
                                </div>
                                <div class="cantView">
                                    <div class="textView">
                                        <div class="contentText">VENTAS</div>
                                    </div>
                                    <div class="cantidadView">100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--segunda columna-->
                <div class="dashboardIzq">
                    <div class="lugares" id="graficoTickets">
                        <div class="tituloGrafico">GESTIÓN DE TICKETS</div>
                        <div class="graficoLugares">
                            <canvas id="donutsTickets" class="donutsTickets noResponsive" width="375" height="187"></canvas>
                        </div>
                        <div class="verInforme"><button class="btnVerInforme" id="btnTicketsEstado">VER INFORME</button></div>
                    </div>

                    <div class="lugares" id="graficoServicio">
                        <div class="tituloGrafico">SERVICIOS COMPLETADOS</div>
                        <div class="graficoLugares">
                            <canvas id="linealServicios" class="linealServicios noResponsive"></canvas>
                        </div>
                        <div class="verInforme"> <button class="btnVerInforme" id="btnServiceInf">VER INFORME</button></div>
                    </div>
                    <div class="lugares" id="usuarios">
                        <div class="textActividad">CLIENTES ONLINE</div>
                        <div class="userTickets">
                            <div class="usuariosLinea" id="clientTotal">
                                <div class="userDispTicket">
                                    <div class="iconFunction">
                                        <i class="fa-solid fa-users iconClient"></i>
                                    </div>
                                </div>
                                <div class="textFunction" id="contentClient">
                                    <div class="">TOTAL</div>
                                    <div class="cantTicket" id="cantClient"></div>
                                </div>
                            </div>
                             <div class="usuariosLinea">
                                <div class="userDispTicket">
                                    <div class="iconFunction">
                                        <div>
                                            <i class="fa-solid fa-ticket iconTicketUser" style="color: rgb(55,175,223)"></i>
                                            <i class="fa-solid fa-ticket iconTicketUser" style="color: rgb(55,175,223)"></i>
                                            <i class="fa-solid fa-ticket iconTicketUser" style="color: rgb(55,175,223)"></i>
                                            <i class="fa-solid fa-ticket iconTicketUser" style="color: rgb(55,175,223)"></i>
                                        </div>
                                        <div>
                                            <i class="fa-solid fa-ticket iconTicketUser" style="color: rgb(55,175,223)"></i>
                                            <i class="fa-solid fa-ticket iconTicketUser" style="color: rgb(55,175,223)"></i>
                                            <i class="fa-solid fa-ticket iconTicketUser" style="color: rgb(55,175,223)"></i>
                                            <i class="fa-solid fa-ticket iconTicketUser" style="color: rgb(55,175,223)"></i>
                                        </div>
                                    </div>
                                    <div class="textFunction">TICKETS ACTIVOS</div>
                                </div>
                                <div class="cantTicket" id="ticketClient"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentDash">
                <!--tercera columna-->
                <div class="contentAdmin">
                    <div class="asistenteSoporte">
                        <div class="nombreAsistente">ASISTENTE ADMINISTRADOR</div>
                        <div class="imagenIA">
                            <img class="robot" src="{% static 'dashboard/img/robotIA.webp' %}" alt="">
                        </div>
                        <div class="mensajeIA"><input class="textIA" type="text"
                                placeholder="Envía un mensaje a ICASOFT IA">
                        </div>
                    </div>
                    <div class="functions">
                        <div class="functionsTicket">
                            <div class="iconTicket"><i class="fa-solid fa-ticket iconFunctions"
                                    style="color: #3d5a80;"></i></div>
                            <div class="textFunctionTicket">CREAR TICKET</div>
                        </div>
                        <div class="functionsTicket">
                            <div class="iconTicket"><i class="fa-solid fa-screwdriver-wrench iconFunctions"
                                    style="color: #98c1d9;"></i></div>
                            <div class="textFunctionTicket">ASIGNAR TÉCNICO</div>
                        </div>
                        <div class="functionsTicket">
                            <div class="iconTicket"><i class="fa-solid fa-file iconFunctions"
                                    style="color: #ee6c4d;"></i></div>
                            <div class="textFunctionTicket">GENERAR INFORME</div>
                        </div>
                        <div class="functionsTicket">
                            <div class="iconTicket"><i class="fa-solid fa-spinner iconFunctions"
                                    style="color: #177e89;"></i></div>
                            <div class="textFunctionTicket">ACTUALIZAR SISTEMA</div>
                        </div>
                    </div>
                </div>
                <!--cuarta columna-->
                <div class="sistemaDash">
                    <!-- <div class="actSistema">
                        <button class="btnActualizar">ACTUALIZAR SISTEMA</button>
                    </div> -->
                    <div class="ubiTecnicos">
                        <div class="textUbicacion">
                            <div>
                                <select  class="filtro" id="listYear">
                                    <!--contenido js-->
                                </select>
                            </div>
                            <div>
                                <select name="" id="listTech" class="filtro">   
                                    <!--contenido js--> 
                                </select>
                            </div>
                            <div>
                                <a href="{% url 'users:logout' %}"><i class="fa-solid fa-right-from-bracket"
                                        style="color: brown; font-size: x-large;"></i></a>
                            </div>
                        </div>
                        <div class="dataMapa">
                            <div class="mapa" id="mapaTech">
                                <!-- Mapa de Leaflet en js-->
                            </div>
                            <div class="contentTecnico">
                                <div class="contentSelect">
                                    <div class="infoSelect">
                                        <div class="selectTitulo">
                                            DISPONIBLES (D)
                                        </div>
                                        <div class="tecnicoEstado">
                                            <div class="iconFunction">
                                                <i class="fa-solid fa-user-gear iconTicketUser"
                                                    style="color: rgb(55, 175, 223); font-size: xxx-large;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cantTecnico">
                                        <div class="tituloCant">
                                            TOTAL
                                        </div>
                                        <div class="totalCant" id="techDisp">
                                            <!--contenigo js-->
                                        </div>
                                    </div>
                                </div>
                                <div class="contentSelect">
                                    <div class="infoSelect">
                                        <div class="selectTitulo">
                                            ASIGNADOS (A)
                                        </div>
                                        <div class="tecnicoEstado">
                                            <div class="iconFunction">
                                                <i class="fa-solid fa-user-gear iconTicketUser"
                                                    style="color: white; font-size: xxx-large;"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cantTecnico">
                                        <div class="tituloCant">
                                            TOTAL
                                        </div>
                                        <div class="totalCant" id="techAsig">
                                            <!--contenigo js-->
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-bar">
                                    <span data-width="90%"></span>
                                    <div class="restante"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="lugares">
                        <div class="tituloGrafico">ATENCIONES LUGARES</div>
                        <div class="graficoLugares">
                            <canvas id="barraAtenciones"></canvas>
                        </div>
                        <div class="verInforme"> <button class="btnVerInforme">VER INFORME</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% include "dashboard/admin/modalGrafico.html" %}
<script src="{% static 'dashboard/js/admin/adminInicio.js' %}"></script>
<!-- Leaflet CSS y JS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</html>
{% endblock %}