<!-- Modal para agregar cliente -->
<div class="modal fade" id="addClientModal" tabindex="-1" aria-labelledby="addClientModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="addClientModalLabel">Agregar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="add-client-form" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <!-- Información del usuario -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="{{ form.first_name.id_for_label }}">Nombres:</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="{{ form.last_name.id_for_label }}">Apellidos:</label>
                                {{ form.last_name }}
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="{{ form.username.id_for_label }}">Nombre de Usuario:</label>
                                {{ form.username }}
                            </div>
                            {% for error in form.username.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3"> 
                                <label for="{{ form.email.id_for_label }}">Correo Electrónico:</label>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="{{ form.password.id_for_label }}">Contraseña:</label>
                                <div class="input-group">
                                    {{ form.password }}
                                    <button type="button" class="btn btn-outline-secondary"
                                        id="toggle-password-visibility">
                                        <i class="fas fa-eye" id="password-icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="{{ form.telefono.id_for_label }}">Teléfono:</label>
                                {{ form.telefono }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 w-100">Guardar Cliente</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar cliente -->
<div class="modal fade" id="editClientModal" tabindex="-1" aria-labelledby="editClientModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="editClientModalLabel">Agregar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="edit-client-form" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <!-- Información del usuario -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="{{ form.first_name.id_for_label }}">Nombres:</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="{{ form.last_name.id_for_label }}">Apellidos:</label>
                                {{ form.last_name }}
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="{{ form.username.id_for_label }}">Nombre de Usuario:</label>
                                {{ form.username }}
                            </div>
                            {% for error in form.username.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3"> 
                                <label for="{{ form.email.id_for_label }}">Correo Electrónico:</label>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="{{ form.password.id_for_label }}">Contraseña:</label>
                                <div class="input-group">
                                    {{ form.password }}
                                    <button type="button" class="btn btn-outline-secondary"
                                        id="toggle-password-visibility">
                                        <i class="fas fa-eye" id="password-icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="{{ form.telefono.id_for_label }}">Teléfono:</label>
                                {{ form.telefono }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 w-100">Guardar Cliente</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Alertas con SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>