{% load static %}
{% block content %}
<!--MODAL TICKETS-->
<div id="modalTicket" class="modal">
    <div class="modal-content" id="contentTickets">
        <div class="headerModal">
            <span id="closeModalTicket" class="close">&times;</span>
            <div class="textHW">GESTIÓN DE TICKETS</div>
        </div>
        <div class="detalleModal">
            <div class="contentDetalle">
                <div class="type">
                    <div class="contentType">
                        <!-- <select name="" id="listTech">    
                            <!--contenido js-->
                        <!--</select> -->
                    </div>
                </div>
            </div>
            <div class="contentDetalle">
                <canvas id="donutsTicketsDet" class="donutsTickets"></canvas>
            </div>
        </div>
    </div>
</div>
<!--MODAL SERVICIOS-->
<div id="modalService" class="modal">
    <div class="modal-content" id="contentService">
        <div class="headerModal">
            <span id="closeModalService" class="close">&times;</span>
            <div class="textHW">GESTIÓN DE SERVICIOS</div>
        </div>
        <div class="detalleModal">
            <div class="contentDetalle">
                <div class="type">
                    <div class="contentType">
                    </div>
                </div>
            </div>
            <div class="contentDetalle">
                <canvas id="linealServiciosDet" class="linealServicios"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}