{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'dashboard/css/modalInicio.css' %}">
<!--MODDAL ASISTENCIA TÉCNICA-->
<div id="modalAsistencia" class="modal">
    <div class="modal-content">
        <div class="headerModal">
            <span id="closeModalAsis" class="close">&times;</span>
            <div class="textHW">¿Necesitas asistencia técnica?</div>
        </div>
        <div class="contentData">
            <div class="asistencia1" id="problemaDescript">
                <div class="textDescrip">Describe el problema</div>
                <div class="inputDescrip">
                    <input type="text" class="textAsistencia">
                </div>
            </div>
            <div class="asistencia1" id="contentDireccion">
                <div class="textDescrip">Dirección para la asistencia</div>
                <div class="inputDescrip">
                    <input type="text" class="textAsistencia" id="inputDireccion">
                    <button class="btnUbiCliente" id="btnUbiCliente">
                        <div><i class="fa-solid fa-location-dot"></i></div>
                        <div>Mi ubicación</div>
                    </button>
                </div>
            </div>
            <div class="asistencia2">
                <div class="textDescrip">Técnicos cerca a tu dirección:</div>
                <div class="inputDescrip">
                    <!-- <select name="" id="" class="selectTecnico">
                        <option value="">Selecciona un técnico</option>
                        <option value="">Juan</option>
                    </select> -->
                    <select name="technician" id="technician" class="form-control selectTecnico">
                        <option value="">-- Elige un técnico --</option>
                        {% for technician in technicians %}
                        <option value="{{ technician.technician.id }}" {% if not technician.is_nearby %}disabled="disabled"{% endif %}>
                            {{ technician.technician.username }} - {{ technician.distance }} km - {{ technician.district_name }}
                            {% if not technician.is_nearby %}(demasiado lejos){% endif %}
                        </option>
                        {% empty %}
                        <option>No hay técnicos disponibles en línea cerca de ti.</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="asistencia4">
                <div>
                    <div id="mapAsistencia"></div>
                </div>

                <div style="font-style: italic; color: beige;">* Deslice la localización a la dirección que desee la
                    asistencia *</div>
            </div>
            <div class="asistencia5">
                <button class="btnAsistencia">SOLICITAR</button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'tickets/asistenciaTecnica.js' %}"></script>
{% endblock %}