{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'tickets/css/modalAsistencia.css' %}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--MODDAL ASISTENCIA TÉCNICA-->
<div id="modalAsistencia" class="modal">
    <div class="modal-content">
        <div class="headerModal">
            <span id="closeModalAsis" class="close">&times;</span>
            <div class="textHW">¿Necesitas asistencia técnica?</div>
        </div>
        <div class="contentData">
            <form id="formAsistencia">
                {% csrf_token %}
                <div class="contentForm">
                    <div class="asistenciaF" id="formaDatos">
                        <div class="contentAsistencia">
                            <div class="textDescrip">Seleccione el problema:</div>
                            <div class="inputDescrip">
                                <select class="form-control selectOpcion">
                                    <option value="" class="opcion">Mi laptop/computadora no enciende</option>
                                    <option value="" class="opcion">Mi PC está lenta</option>
                                    <option value="" class="opcion">La pantalla está negra</option>
                                    <option value="" class="opcion">El sistema operativo no termina de cargar</option>
                                </select>
                            </div>
                            <div class="inputDescrip">
                                <input type="text" id="descripcion" placeholder="Describe el problema (opcional)">
                            </div>
                        </div>
                        <div class="contentAsistencia">
                            <div class="textDescrip">Dirección para la asistencia</div>
                            <div class="inputDescrip" id="contentUbi">
                                <input type="text" id="direccion" class="textAsistencia">
                                <button class="btnUbiCliente" id="btnUbiCliente" type="button">
                                    <div><i class="fa-solid fa-location-dot"></i></div>
                                    <div>Mi ubicación</div>
                                </button>
                            </div>
                        </div>
                        <div class="contentAsistencia">
                            <div class="textDescrip">Técnicos cerca a tu dirección:</div>
                            <div class="inputDescrip">
                                <select name="technician" id="technician" class="form-control selectOpcion">
                                    <!--contenido js-->
                                </select>
                            </div>
                        </div>
                        <div class="contentAsistencia">
                            <div>Tipo de asistencia</div>
                            <div>
                                <div id="conentRadioAsist" class="radioAsis">
                                    <!--contenido ajax-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="asistenciaF" id="contentMapaAsis">
                        <div class="contentAsistencia" id="mapaContent">
                            <div id="mapAsistencia"></div>
                        </div>
                        <div style="font-style: italic; color: beige;" class="contentTextUbi">* Deslice la localización a la dirección que desee la asistencia *</div>
                    </div>
                </div>
                <div class="botonesAsistencia">
                    <div class="botones"><button type="submit" class="btnAsistencia" id="btnAsistencia">SOLICITAR</button></div>
                    <!-- <div class="botones">
                        <a href="https://goo.su/V3JAvi" target="_blank"><i
                                class="fa-brands fa-whatsapp fa-fade btnAsistencia"></i>CONTACTAR</a> -->
                        
                </div>
                <input type="hidden" id="id_latitude" name="latitude">
                <input type="hidden" id="id_longitude" name="longitude">
            </form>
        </div>
    </div>
</div>

<script src="{% static 'tickets/asistenciaTecnica.js' %}"></script>
{% endblock %}