@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

:root {
    --principal-color: rgb(42, 76, 89);
    --secundary-color: rgb(1, 1, 1);
    --text-color: white;
    --relleno-color: linear-gradient(180deg, rgb(54, 56, 57), rgb(38, 40, 40));
    --card-style: 5px 10px 10px -3px var(--secundary-color);
    --card-borde: 3px solid rgb(42, 76, 89);
}

body {
    min-height: 100vh;
    background: rgb(37, 36, 36);
    color: white;
    font-family: "Segoe UI";
    font-weight: bold;
    overflow: hidden;
}

.contenedorInicial {
    min-height: 100vh;
    margin: 15px;
}

.contenedorPrincipal {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

/*contenedor Izquierdo*/
.containerIzq {
    display: grid;
    grid-template-areas:
        "barraLateral dashboardIzq";
    gap: 20px;
}

.barraLateral {
    grid-area: barraLateral;
    display: grid;
    grid-template-areas:
        "logo"
        "cuadroFunctions"
        "SWvendidos";
    grid-template-rows: 15% auto auto;
    gap: 10px;
}

/*primera columna*/
.logo {
    display: flex;
    gap: 10px;
    border: var(--card-borde);
    box-shadow: var(--card-style);
    padding: 10px;
    border-radius: 30px;
    align-items: center;
}

.logoIMG {
    display: flex;
    height: 80px;
}

#logo {
    height: 100%;
}

.nombreLogo {
    text-align: center;
}

.cuadroFunctions {
    display: grid;
    border: var(--card-borde);
    box-shadow: var(--card-style);
    background: var(--relleno-color);
    border-radius: 30px;
    justify-items: center;
    align-items: center;
    gap:5px;
    padding: 10px 0px 10px 0px;
}

.function {
    width: 80%;
}

.function .btnFunction,
.usuariosLinea {
    display: flex;
    width: 100%;
    gap: 10px;
    background: none;
    color: white;
    cursor: pointer;
}

.textFunction,
.cantidad {
    width: -webkit-fill-available;
}
.textFunction{
    font-weight: 500;
}
.btnFunction:hover {
    color: rgb(3, 101, 140);
    ;
    text-shadow: 2px 2px 5px rgb(20, 19, 19);
}

.SWvendidos {
    display: grid;
    border: 3px solid var(--principal-color);
    box-shadow: var(--card-style);
    background: var(--relleno-color);
    border-radius: 30px;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.textSW {
    font-size: large;
}

.cuadroSW {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.imgSW {
    height: 70px;
}

.imgSW1 {
    height: 100%;
}

.cantidad {
    display: grid;
    gap: 10px;
}

.textView {
    display: grid;
    justify-items: center;
}

.contentText {
    width: 80%;
    border-bottom: 1px solid white;
}

/*segunda columna*/
.dashboardIzq {
    grid-area: dashboardIzq;
    display: grid;
    grid-template-areas:
        "lugares"
        "lugares"
        "usuarioActivo";
    gap: 10px;
    height: 100%;
}

.lugares {
    border: 3px solid var(--principal-color);
    box-shadow: var(--card-style);
    background: var(--relleno-color);
    border-radius: 30px;
    justify-items: center;
    padding: 10px;
}

#graficoTickets,
#graficoServicio {
    display: grid;
    grid-template-areas: "tituloGrafico" "graficoLugares" "verInforme";
    grid-template-rows: auto;
    gap: 15px;
}

#graficoTickets .graficoLugares {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 250px;
}

#donutsTickets {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

#graficoServicio .graficoLugares {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 300px;
}

#linealServicios {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.tituloGrafico {
    font-size: large;
}

.verInforme {
    align-content: center;
}

.btnVerInforme {
    background: none;
    cursor: pointer;
    color: white;
    background: rgb(3, 101, 140);
    padding: 7px;
    border-radius: 30px;
}

/*Apartado de tickets */
.userTickets {
    width: 100%;
    display: grid;
    grid-template-columns: 40% auto;
    column-gap: 5px;
}

.usuariosLinea {
    align-items: center;
}
#clientTotal{
    display: grid;
    gap: 5px;
}
.iconClient{
    font-size: xxx-large;
    color: rgb(54, 162, 235);
}
#contentClient{
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
    justify-items: center;
}
.userDispTicket {
    width: 100%;
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 5px;
}

.userDispTicket .textFunction {
    font-weight: 400;
}
.textFunction{
    text-decoration: none;
    color: white;
}
.iconTicketUser {
    font-size: 21px;
}

.cantTicket,
.totalCant {
    padding: 5px 10px 5px 10px;
    background: rgb(3, 101, 140);
    border-radius: 5px;
}

div#usuarios {
    display: grid;
    grid-template-areas:
        "textActividad"
        "userTickets";
    gap: 10px;
}
.iconFunction{
    font-size: larger;
}
/*contenedor derecho*/
.notifications {
    align-content: center;
}

/*tercera columna*/
/*contenidos del dashboard parte derecha*/
.contentDash {
    display: grid;
    grid-template-areas:
        "contentAdmin sistemaDash";
    gap: 20px;
}

.contentAdmin {
    display: grid;
    grid-template-areas:
        "asistenteSoporte"
        "functions";
}

/*fila de asistenteSoporte*/
.asistenteSoporte {
    display: grid;
    justify-items: center;
    width: -webkit-fill-available;
    align-items: center;
    grid-template-areas:
        "asistenteSoporte"
        "imagenIA"
        "mensajeIA";
}

.nombreAsistente {
    text-align: center;
    font-size: xx-large;
    text-shadow: 5px 1px 8px rgb(3, 101, 140);
    background: none;
}

.imagenIA {
    display: flex;
    height:380px;
    justify-content: center;
}

.robot {
    height: 100%;
}

.inputAsistente {
    display: grid;
    width: 100%;
    justify-items: center;
}

.mensajeIA {
    grid-area: mensajeIA;
    width: 100%;
}

.textIA {
    border: 1px solid;
    border-radius: 30px;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    padding: 10px 0px 10px 0px;
}

.microfono {
    border: 1px solid rgb(72, 100, 128);
    border-radius: 100%;
    padding: 8px;
}

/*fila de functions*/
.functions {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: var(--card-borde);
    border-radius: 30px;
    box-shadow: var(--card-style);
    background: var(--relleno-color);
    padding-left: 10px;
    padding-right: 10px;
    gap:5px;
}

* .functionsTicket {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
* .functionsTicket:hover{
    background: linear-gradient(180deg, rgb(54, 56, 57), rgb(4, 58, 109));
    transform: translateY(-1px);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;;
    cursor: pointer;
    padding: 10px 2px 10px 2px;
}
.iconFunctions {
    color: rgb(54, 162, 235);
    font-size: xx-large;
}

/* cuarta columna*/
.sistemaDash {
    display: grid;
    grid-template-areas: "ubiTecnicos" "lugares";
    gap: 10px;
}
/*encabezado de filtros*/
.ubiTecnicos {
    display: grid;
    grid-template-areas:
        "textUbicacion"
        "dataMapa";
    gap: 10px;
    text-align: center;
}

.textUbicacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filtro{
    border-radius: 10px;
    background: var(--relleno-color);
    border: var(--card-borde);
    color: white;
    padding: 5px 10px 5px 10px;
}
.list{
    background: rgb(54, 56, 57);
}
.dataMapa {
    display: flex;
    border: 3px solid var(--principal-color);
    box-shadow: var(--card-style);
    background: var(--relleno-color);
    border-radius: 30px;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.mapa {
    height: 350px;
    width: 200px;
}

.mapaUbi {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
div#mapaTech {
    border-radius: 20px;
}
.contentMapa {
    padding-left: 20px;
}

.contentTecnico {
    display: grid;
    grid-template-areas: 'contentSelect' 'contentSelect' 'progress-bar';
    gap: 20px;
}

.contentSelect {
    display: grid;
    grid-template-areas:
        'infoSelect'
        'cantTecnico';
    gap: 10px;
    background: #f7f7f71a;
    padding: 10px;
    border-radius: 10px;
}

.infoSelect {
    display: grid;
    grid-template-areas: 'selectTitulo' 'tecnicoEstado';
    gap: 10px;
}

.cantTecnico {
    display: grid;
    grid-template-areas: 'tituloCant totalCant';
    gap: 10px;
    align-items: center;
}

/*progress bar*/
.progress-bar {
    position: relative;
    width: 100%;
    height: 23px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(3, 101, 140);
}

.progress-bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    white-space: nowrap;
    height: 100%;
    color: white;
    text-align: left;
    align-items: center;
    padding-left: 5px;
    line-height: 25px;
    border-radius: 30px;
    background: linear-gradient(120deg, rgb(3, 80, 111), rgb(0, 187, 255));
}

.progress-bar .restante {
    height: 100%;
    color: black;
    text-align: right;
    padding-right: 5px;
    line-height: 25px;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    font-size: auto;
}

/* .cantTecnico {
    padding: 5px 10px 5px 10px;
    background: rgb(3, 101, 140);
    border-radius: 5px;
} */