{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}" async defer></script>  -->
    <link rel="stylesheet" href="{% static 'dashboard/css/principal.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'dashboard/icon/iconICASOFT.ico' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body>
    <div class="contenedorPrincipal">
        <div class="container">
            <div class="header">
                <!--<div class="idiomas">
                        <a><i class="fa-solid fa-earth-americas mundo"></i> <i class="fa-solid fa-caret-down"></i></a>
                        <!-- <ul class="listaIdiomas">
                            <li class="ES">ES</li>
                            <li class="EN">EN</li>
                        </ul> 
                    </div>-->
                <div>
                    ¡Hola, {{ request.user.username }}!
                </div>
                <div class="contactos">
                    <div class="correo"><a href="mailto:company.icasofti21@gmail.com" class="linkCorreo">Correo</a>
                    </div>
                    <div class="wstp"><a href="https://goo.su/V3JAvi" target="_blank"><i
                                class="fa-brands fa-whatsapp fa-fade iconWstp"></i></a></div>
                </div>
            </div>
            <div class="content-body">
                <div class="primero">
                    <div class="logo">
                        <div class="logoIMG">
                            <img src="{% static 'dashboard/img/logoICASOFT.webp' %}" alt="logo" id="logoEmpresa">
                        </div>
                        <div class="nombreLogo">ICASOFT INGENIERÍA 21</div>
                    </div>
                    <div class="Ubicacion">
                        <div class="nombreUbi">UBICACIÓN</div>
                        <div class="mapa">
                            <div id="map" style="height: 100%; width: 100%; border: 1px solid #ccc;"></div>
                        </div>
                    </div>
                    <div class="asistencia">
                        <button class="asistenciaButton" id="btnAsistencia">
                            <i class="fa-solid fa-users-gear iconAnalisis"></i> ASISTENCIA TÉCNICA
                        </button>
                    </div>
                </div>
                <div class="asistente">
                    <div class="asistVirtual">ASISTENTE VIRTUAL DE SOPORTE TÉCNICO</div>
                    <div class="botonAsist">
                        <button class="buttonAsist" id="cerrarSesion" onclick="cerrarSesion()">
                            <div class="iconLogin"><i class="fa-solid fa-user"></i></div>
                            <div class="textLogin">CERRAR SESIÓN</div>
                        </button>
                    </div>
                    <div class="datosDesktop">
                        <div class="datoHW">
                            <div class="IconHW"><i class="fa-solid fa-temperature-arrow-down temperaturaCPU"></i></div>
                            <div class="valorHW" id="useCPU"></div>
                        </div>
                        <div class="datoHW">
                            <div class="IconHW"><i class="fa-regular fa-file temperaturaRAM"></i></div>
                            <div class="valorHW" id="archTemp"></div>
                        </div>
                    </div>
                    <div class="recomendaciones">
                        <div class="nombreCatalogo">RECOMENDACIONES DE SOFTWARE</div>
                        <div class="catalogo">
                            <div class="cat1"><img src="{% static 'dashboard/img/security.webp' %}" alt=""
                                    class="security">
                            </div>
                            <div class="cat2"><img src="{% static 'dashboard/img//windows.webp' %}" alt=""
                                    class="security">
                            </div>
                        </div>
                        <div class="catVerComp"><button class="btnVerCompleto" id="btnVerCompleto">VER COMPLETO</button>
                        </div>
                    </div>
                    <div class="botonesSoporte">
                        <!-- <button class="botResp" id="btnRespRest">RESPALDO Y RESTAURACIÓN</button> -->
                        <button class="botCentro" id="btnCentro">CENTRO DE APRENDIZAJES</button>
                    </div>
                </div>
                <div class="asistenteSoporte" id="asistenteSoporte">
                    <div class="nombreAsistente" id="textAsistente">
                        <h2 class="spanNombreAsistente">ASISTENTE DE SOPORTE</h2>
                    </div>
                    <div class="imagenIA">
                        <img class="robot" src="{% static 'dashboard/img/robotIA.webp' %}" alt="" id="robotimg">

                        <div class="video-container" id="video-container">
                            <video class="robot" id="robotGIF" autoplay muted>
                                <source src="{% static 'dashboard/video/robotHablando.mp4' %}" type="video/mp4">
                            </video>
                        </div>
                        <div class="video-container" id="video-container2">
                            <video class="robot" id="robotGIFOjos" autoplay muted>
                                <source src="{% static 'dashboard/video/robotOjos.mp4' %}" type="video/mp4">
                            </video>
                        </div>
                        <audio controls autoplay muted id="audioRobot">
                            <source src="{% static 'dashboard/audio/audioRobot.mp3' %}">
                            no se encontró ningún audio
                        </audio>
                    </div>
                    <div class="mensajeIA" id="mensajeIA">
                        <div class="header-chat" id="header-chat">
                            <h1>ICASOFT IA</h1>
                        </div>
                        <div class="body-chat" id="body-chat">
                            <div class="iaResponse">
                                <p class="message_chat">Hola</p>
                            </div>
                            <div class="userRequest">
                                <p class="message_chat_user">Hi</p>
                            </div>
                        </div>
                        <div class="footer-chat" id="footer-chat">
                            <div class="textIACont"><input id="textIAID" type="text"
                                    placeholder="Envía un mensaje a ICASOFT IA"></div>
                            <div class="contentChatBtn"><button class="btnChat"><i
                                        class="fa-solid fa-paper-plane enviarMessage"></i></button></div>
                        </div>
                    </div>
                    <div class="vozIA" id="vozIA">
                        <label for="" class="textoVoz">AYÚDAME</label>
                        <i class="fa-solid fa-microphone microfono"></i>
                    </div>
                </div>
                <div class="analisis">
                    <div class="analisisCompleto">
                        <button class="analisisComp" id="btnAnalisiCompleto">
                            <div class="textButton">ANÁLISIS COMPLETO DEL SISTEMA</div>
                            <div class="imgBtnAnalisis"><img src="{% static 'dashboard/img/actualizarSistema.webp' %}"
                                    class="imgBtnAnalisisComp" id="imgAnalisisComp">
                            </div>
                        </button>
                    </div>
                    <div class="monitoreo">
                        <button id="btnMonitoreo" class="btnUlt">
                            <div class="textDiag" id="textMonitoreo">MONITOREO DEL SISTEMA</div>
                            <div class="graficoMonit"><img src="{% static 'dashboard/img/monitoreo.webp' %}" alt=""
                                    class="imgDiagnostico" id="imgGraficoMonitoreo"></div>
                            <div class="progress-bar" id="progressBarMonitoreo">
                                <span data-width="100%"></span>
                            </div>
                        </button>
                    </div>
                    <div class="red">
                        <button id="btnRed" class="btnUlt">
                            <div class="textDiag">COMPROBACIÓN DE RED</div>
                            <div class="graficoMonit"><img src="{% static 'dashboard/img/red.webp' %}" alt=""
                                    class="imgDiagnostico" id="imgRed"></div>
                            <div class="progress-bar" id="progressBarRed">
                                <span data-width="100%"></span>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="ultimo">
                    <div class="detdiagnostico">
                        <button id="btnAbrirModalDiagnostico" class="btnUlt">
                            <div class="textDiag">DIAGNÓSTICO</div>
                            <div class="imgDetDiag" id="imgDiagnosticoDet">
                                <img class="imgDiagnostico" id="imgDiag"
                                    src="{% static 'dashboard/img/diagnostico.webp' %}" alt="">
                                <!-- <img class="imgDiagnosticoGIF" id="imgDiagGIF" src="{% static 'dashboard/img/diagnosticoGIF.gif' %}" alt=""> -->
                            </div>
                            <div class="progress-bar" id="progressBarDiagnostico">
                                <span data-width="100%"></span>
                            </div>
                        </button>
                    </div>
                    <div class="antivirus">
                        <button class="btnUlt" id="btnAbrirModalAntivirus">
                            <div class="textDiag">ANTIVIRUS</div>
                            <div class="imgDetDiag" id="imgAntivirusDet">
                                <img class="imgDiagnostico" src="{% static 'dashboard/img/antivirus.webp' %}" alt="">
                            </div>
                            <div class="progress-bar" id="progressBarAntivirus">
                                <span data-width="100%"></span>
                            </div>
                        </button>
                    </div>
                    <div class="ultMant">
                        <button class="btnUlt" id="btnAbrirModalMantenimiento">
                            <div class="textDiag">MANTENIMIENTO</div>
                            <div class="imgDetDiag" id="imgMantDet"><img class="imgDiagnostico"
                                    src="{% static 'dashboard/img/mantenimientoDet.webp' %}" id="imgMant" alt="">
                                <img src="{% static 'dashboard/img/mantenimientoGIF.gif' %}" class="imgMantGIF"
                                    id="imgMantGIF" alt="">
                            </div>
                            <div class="progress-bar" id="progressBarMantenimiento">
                                <span data-width="100%"></span>
                            </div>
                        </button>
                    </div>
                    <div class="ultHist">
                        <button class="btnUlt" id="btnHist">
                            <div class="textDiag">HISTORIAL</div>
                            <div class="imgDetDiag" id="imgHistDet">
                                <img src="{% static 'dashboard/img/historial.webp' %}" class="imgDiagnostico" alt="">
                            </div>
                            <div class="progress-bar" id="progressBarHistorial">
                                <span data-width="100%"></span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </div>
    <!--MODALS:-->
    {% include "dashboard/client/modalInicio.html" %}
    {% include "dashboard/client/notificaciones.html" %}
    {% include "tickets/modalAsistencia.html" %}
    <script>
        function cerrarSesion() {
            window.location.href = "{% url 'users:logout' %}";
        }
    </script>
    <script src="https://kit.fontawesome.com/233c0f00ee.js" crossorigin="anonymous"></script>
    <script src="{% static 'dashboard/js/clientes/inicio.js' %}"></script>
    <script src="{% static 'dashboard/js/clientes/mapa.js' %}"></script> 
    <script src="{% static 'dashboard/js/clientes/monitoreo.js' %}"></script>
    <script src="{% static 'dashboard/js/clientes/antivirus.js' %}"></script>
    <script src="{% static 'dashboard/js/clientes/diagnostico.js' %}"></script>
    <script src="{% static 'dashboard/js/clientes/mantenimiento.js' %}"></script>
    <script src="{% static 'dashboard/js/clientes/red.js' %}"></script>
    <script src="{% static 'dashboard/js/clientes/centroAprendizaje.js' %}"></script>
    <!-- <script src="{% static 'dashboard/js/clientes/asistenciaTecnica.js' %}"></script> -->
    <script src="{% static 'dashboard/js/clientes/historial.js' %}"></script>
    <script src="{% static 'dashboard/js/clientes/recomendaciones.js' %}"></script>
    
    <script
    src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=marker&callback=initMap"
    async defer></script>
</body>

</html>
{% endblock %}