@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {
    --fondoDiv: linear-gradient(180deg, rgb(37, 36, 36), rgb(43, 67, 84), rgb(37, 36, 36));
    --fondoBotones: linear-gradient(180deg, rgb(54, 56, 57), rgb(42, 76, 89));
    --sombrasContent: 5px 10px 10px -8px rgb(3, 101, 140);
    --borde: rgb(3, 101, 140);
}

body {
    min-height: 100vh;
    background: rgb(29, 29, 29)
        /*rgb(24, 23, 23)*/
    ;
    background-size: 600% 600%;
    /* Hacemos que el gradiente sea más grande para poder moverlo */
    color: white;
    font-family: "Segoe UI";
    font-weight: bold;
    overflow-x: hidden;
    /* Animación para mover el gradiente */
}

.contenedorPrincipal {
    min-height: 100vh;
    padding: 0px 20px 0px 20px;
}

.container {
    min-height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-areas:
        "header"
        "content-body"
        "footer";
}

.content-body {
    grid-area: content-body;
    display: grid;
    grid-template-areas:
        "primero"
        "asistente"
        "asistenteSoporte"
        "analisis"
        "ultimo";
    gap: 15px;
    /* el / significa que después de eso se determina el tamaño del ancho de cada columna */
}

.header {
    grid-area: header;
    display: grid;
    grid-template-areas: "contactos botonAsist";
    align-items: center;
    justify-content: space-between;
}

.contactos {
    display: grid;
    grid-template-areas: "correo wstp";
    justify-content: end;
    gap: 20px;
}

.linkCorreo {
    color: white;
    font-style: normal;
    text-decoration: none;
}

.iconWstp {
    color: green;
    font-size: 20px;
}

.footer {
    grid-area: footer;
}

/*primera columna:*/
.primero {
    grid-area: primero;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "logo"
        "Ubicacion"
        "asistencia";
    justify-items: center;
    width: 100%;
}

.logo {
    display: flex;
    grid-area: logo;
    align-items: center;
    /* Centra verticalmente la imagen y el texto */
    border: 3px solid rgb(42, 76, 89);
    box-shadow: 5px 10px 10px -3px rgb(1, 1, 1);
    /*el primero izq. -derecha, el segundo es para la dirección arriba o abajo, el tercero la intensidad, el cuarto la intensidad del color*/
    border-radius: 30px;
    width: 80%;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.logoIMG {
    grid-area: logoIMG;
    justify-items: center;
    display: flex;
    justify-content: center;
    height: 80px;
}

#logoEmpresa {
    height: 100%;
}


.nombreLogo {
    grid-area: nombreLogo;
    text-align: center;
    font-size: x-large;
    width: 100%;
}


/*div de ubicacion y mapa*/
.Ubicacion {
    grid-area: Ubicacion;
    display: grid;
    grid-template-areas:
        "nombreUbi"
        "mapa";
    gap: 20px;
    width: 100%;
}

.nombreUbi {
    grid-area: nombreUbi;
    border: 2px solid rgb(42, 76, 89);
    background: linear-gradient(180deg, rgb(54, 56, 57), rgb(38, 40, 40));
    box-shadow: 5px 10px 10px -8px;
    border-radius: 30px;
    color: rgb(3, 101, 140);
    text-align: center;
    align-content: center;
    font-family: "Segoe UI";
    font-weight: 800;
    font-size: 18px;
    padding: 7px;
    width: 50%;
    margin-left: 24%;
}

.mapa {
    grid-area: mapa;
    width: 85%;
    margin-left: 8%;
    height: 100%;

    #map {
        border-radius: 25px;
    }
}

.asistencia {
    grid-area: asistencia;
    width: 100%;
}

.asistenciaButton {
    border: 2px solid rgb(42, 76, 89);
    background: none;
    box-shadow: 5px 10px 10px -8px black;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px 0px 10px 0px;
    align-items: center;
}

/*segunda columna*/
.asistente {
    grid-area: asistente;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "asistVirtual"
        "botonAsist"
        "datosDesktop"
        "recomendaciones"
        "botonesSoporte";
    justify-items: center;
    width: 100%;
}

.asistVirtual {
    grid-area: asistVirtual;
    padding: 15px 15px 15px 15px;
    width: 100%;
    text-align: center;
    font-size: medium;
    text-shadow: 5px 1px 8px rgb(3, 101, 140);
    background: var(--fondoDiv);
}

.botonAsist {
    grid-area: botonAsist;
    width: 100%;
    justify-content: center;
    gap: 20px;
    display: flex;
}

.buttonAsist {
    border-radius: 20px;
    border: 1px solid skyblue;
    background-color: rgb(3, 101, 140);
    color: white;
    padding: 10px;
    box-shadow: 5px 10px 10px -3px rgb(1, 1, 1);
    text-align: center;
    display: grid;
    grid-template-areas: "iconLogin textLogin";
    grid-template-columns: auto;
    width: 100%;
    cursor: pointer;
}

#cerrarSesion {
    border: 1px solid white;
    background-color: rgb(140, 12, 3);
}

.botonAsist button:hover {
    background: linear-gradient(180deg, rgb(54, 56, 57), rgb(29, 46, 46));
    color: rgb(3, 101, 140);
}

#cerrarSesion:hover {
    background: linear-gradient(180deg, rgb(54, 56, 57), rgb(46, 29, 29));
    color: rgb(140, 12, 3);
}

.datosDesktop {
    display: grid;
    justify-content: center;
    gap: 20px;
}

.datoHW {
    display: flex;
    gap: 10px;
    align-items: center;
}

.valorHW {}

.temperaturaCPU {
    color: rgb(0, 123, 0);
    font-size: 50px;
}

.temperaturaRAM {
    color: rgb(42, 76, 89);
    font-size: 50px;
}

.recomendaciones {
    grid-area: recomendaciones;
    border: 3px solid rgb(42, 76, 89);
    box-shadow: 5px 10px 10px -3px rgb(1, 1, 1);
    border-radius: 30px;
    align-content: center;
    width: 60%;
    text-align: center;
    padding-bottom: 10px;
}

.nombreCatalogo {
    border-bottom: 3px solid rgb(42, 76, 89);
}

.catalogo {
    display: flex;
    height: 80px;
    gap: 20px;
    justify-content: center;
}

.cat1,
.cat2 {
    display: flex;
    height: 80px;
    justify-content: center;
}

.security {
    height: 100%;
    border-radius: 15px;
}

.btnVerCompleto {
    width: 80%;
    height: 30px;
    border-radius: 30px;
    background: rgb(3, 101, 140);
    color: white;
    cursor: pointer;
}

.catVerComp button:hover {
    color: rgb(3, 101, 140);
    background: white;
    box-shadow: 0px 0px 15px 5px;
    font-weight: 800;
}

.botonesSoporte {
    grid-area: botonesSoporte;
    align-items: center;
    display: flex;
}

/* .botResp {
    grid-area: botResp;
} */

.botCentro {
    grid-area: botCentro;
    width: 100%;
}

.botCentro {
    border: 2px solid rgb(42, 76, 89);
    background: linear-gradient(180deg, rgb(54, 56, 57), rgb(38, 40, 40));
    box-shadow: 5px 10px 10px -8px;
    border-radius: 30px;
    color: rgb(3, 101, 140);
    text-align: center;
    align-content: center;
    padding: 7px;
    cursor: pointer;
    margin-top: 6%;
    margin-bottom: 6%;

}

/*tercera columna:*/
.asistenteSoporte {
    grid-area: asistenteSoporte;
    display: grid;
    grid-template-areas:
        "nombreAsistente"
        "imagenIA"
        "mensajeIA";
    gap: 10px;
    justify-items: center;
    width: 100%;
}

.nombreAsistente {
    grid-area: nombreAsistente;
    width: 100%;
    text-align: center;
    text-shadow: 5px 1px 8px rgb(3, 101, 140);
    background: var(--fondoDiv);
}

.spanNombreAsistente {
    position: relative;
    font-size: 48px;
    outline: none;
    letter-spacing: 5px;
    animation: animacionLetra 2s linear infinite;
}

@keyframes animacionLetra {
    0% {
        text-shadow: 0 0 5px rgba(3, 101, 140, 0.8), 0 0 10px rgba(3, 101, 140, 0.8), 0 0 15px rgba(3, 101, 140, 0.8);
    }

    50% {
        text-shadow: 0 0 20px rgba(3, 101, 140, 1), 0 0 30px rgba(3, 101, 140, 1), 0 0 40px rgba(3, 101, 140, 1);
    }

    100% {
        text-shadow: 0 0 5px rgba(3, 101, 140, 0.8), 0 0 10px rgba(3, 101, 140, 0.8), 0 0 15px rgba(3, 101, 140, 0.8);
    }
}

.imagenIA {
    grid-area: imagenIA;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#robotimg {
    width: 80%;
    display: flex;
    filter: drop-shadow(1px 1px 15px rgba(42, 147, 189, 0.8));
}

#video-container,
#video-container2 {
    width: 100%;
    position: relative;
    display: none;
    justify-content: center;
    filter: drop-shadow(1px 1px 15px rgba(42, 147, 189, 0.8));
}

#robotGIF {
    display: flex;
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
    width: 80%;
}

#robotGIFOjos {
    display: flex;
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
    width: 80%;
}

.mensajeIA {
    grid-area: mensajeIA;
    display: grid;
    width: 80%;
    border-radius: 30px;
    background: linear-gradient(180deg, #85c9df, rgb(2 147 205), #b6e1ef);
    align-self: stretch;
}

#mensajeIA .header-chat,
.body-chat {
    display: none;
    width: 100%;
    height: 100%;
}

.header-chat {
    background-color: rgb(53 143 179);
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.body-chat {
    width: 95%; 
    display: none;
    flex-direction: column;
    max-height: 300px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #0a3f54 #b6e1ef;
    align-self: center;
    position: relative;
}

.body-chat::-webkit-scrollbar {
    width: 8px;
}

.body-chat::-webkit-scrollbar-track {
    background: #b6e1ef;
}

.body-chat::-webkit-scrollbar-thumb {
    background-color: #0a3f54;
    border-radius: 20px;
}

.mensaje {
    max-width: calc(100% - 20px);
    width: fit-content;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    word-wrap: break-word;
    clear: both;
}

.mensaje-usuario {
    background: white;
    color: black;
    align-self: flex-end;
    margin-left: auto;
    border-bottom-right-radius: 0;
    text-align: right;
    box-shadow: 3px 4px 4px 0px rgba(47, 49, 50, 0.3);
}

.mensaje-asistente {
    background: rgb(3, 101, 140);
    color: white;
    align-self: flex-start;
    margin-right: auto;
    border-bottom-left-radius: 0;
    box-shadow: -3px 4px 4px 0px rgba(47, 49, 50, 0.3);
}

.userRequest {
    display: flex;
    justify-content: flex-end;
    /* width: 100%; */
}

.iaResponse {
    display: flex;
    justify-content: flex-start;
}

.footer-chat .contentFooter {
    display: grid;
    grid-template-areas: "textIACont contentChatBtn";
    grid-template-columns: 85% auto;
    border: 1px solid;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    color: black;
    background: white;
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    align-items: center;
}

#textIAID {
    width: 100%;
    display: grid;
    text-align: center;
    background: none;
    border: none;
    font-size: large;
}

.enviarMessage {
    cursor: pointer;
}

#textIAID:focus {
    outline: none;
    border: none;
}

.textIACont {
    background: white;
    height: 100%;
    display: grid;
    border-radius: 30px;
}

.contentChatBtn {
    height: 100%;
    border-radius: 30px;
    display: grid;
    justify-content: start;
}

.btnChat {
    background: none;
}

.modo-chat-activoZoom #mensajeIA, .modo-chat-activo #mensajeIA {
    background: linear-gradient(180deg, transparent, #349ac0);
}

.modo-chat-activoZoom #header-chat, .modo-chat-activo #header-chat {
    display: grid;
    grid-template-columns: 80% auto;
    justify-items: center;
}
.modo-chat-activo #header-chat #expand,.modo-chat-activoZoom #header-chat #expand {
    cursor: pointer;
}
.cerrarZoom {
    color: #6d0610; 
    font-size: x-large;
}
.modo-chat-activoZoom #body-chat, .modo-chat-activo #body-chat {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    font-weight: 400;
    font-size: large;
    border-radius: 10px;
}
.modo-chat-activoZoom #body-chat {
    max-height: 500px;
    font-size: larger;
}

.modo-chat-activoZoom #footer-chat ,.modo-chat-activo #footer-chat {
    width: 100%;
    height: 100%;
    display: grid;
    background: #358fb3;
    align-items: center;
    justify-items: center;
    border-bottom-right-radius:30px;
    border-bottom-left-radius: 30px;
}

.modo-chat-activoZoom #footer-chat .contentFooter, .modo-chat-activo #footer-chat .contentFooter {
    width: 95%;
    grid-template-columns: 80% auto;
    gap: 8px;
    background: none;
    border: none;
    height: 80%;
}

.modo-chat-activoZoom .contentFooter,.modo-chat-activo .contentFooter {
    width: 100%;
    height: 100%;
}

.modo-chat-activoZoom .iaResponse, .modo-chat-activo .iaResponse {
    margin-right: 10px;
    margin-top: 10px;
}

.modo-chat-activoZoom .userRequest, .modo-chat-activo .userRequest {
    margin-right: 10px;
    margin-top: 10px;
}

.modo-chat-activoZoom .contentChatBtn, .modo-chat-activo .contentChatBtn {
    background: #0a3f54;
    justify-content: center;
    align-items: center;
}

.modo-chat-activoZoom .enviarMessage, .modo-chat-activo .enviarMessage {
    font-size: x-large;
    color: white;
}

.modo-chat-activoZoom  #textAsistente, .modo-chat-activo #textAsistente {
    display: none;
}

.modo-chat-activoZoom #vozIA, .modo-chat-activo #vozIA {
    display: none;
}

.modo-chat-activoZoom #mensajeIA, .modo-chat-activo #mensajeIA {
    grid-template-areas: "header-chat" "body-chat" "footer-chat";
    grid-template-rows: 15% auto 15%;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.asistenteSoporte.modo-chat-activo {
    grid-template-areas: "imagenIA" "mensajeIA";
    grid-template-rows: auto 65%;
}
.modo-chat-activo #video-container2 {
    display: flex;
}
.modo-chat-activo #robotGIFOjos {
    width: 45%;
    display: flex;
}
.modo-chat-activo #robotimg {
    display: none;
}
.modo-chat-activoZoom #video-container2, #robotGIFOjos, #robotimg{
    display: none;
}
.asistenteSoporte.modo-chat-activoZoom {
    grid-template-areas: "mensajeIA";

}
.modo-chat-activoZoom .imagenIA{
    display: none;
    
}
/*cuarta columna:*/
.analisis {
    justify-items: center;
    grid-area: analisis;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "analisisCompleto"
        "monitoreo"
        "red";
    text-align: center;

    .analisisCompleto {
        grid-area: analisisCompleto;
    }
}


.graficoMonit {
    display: flex;
    height: 80px;
    justify-content: center;
}

.imgGrafico {
    height: 100%;
    animation: none;
    display: inline-block;
}

@keyframes rotarImg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.analisisComp {
    text-shadow: 5px 1px 8px rgb(3, 101, 140);
    box-shadow: 5px 10px 10px -8px rgb(42, 76, 89);
    background: linear-gradient(180deg, rgb(54, 56, 57), rgb(38, 40, 40));
    border: 2px solid rgb(42, 76, 89);
    border-radius: 30px;
    align-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 15px 0px 15px 0px;
    color: white;
}

.analisisCompleto {
    width: 80%;
}

.analisisButton {
    border: 2px solid rgb(42, 76, 89);
    background: none;
    box-shadow: 5px 10px 10px -8px black;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px 0px 10px 0px;
    display: grid;
    grid-template-areas: "iconDiagnostico textDiagnosticoDet";
    grid-template-columns: 20% auto;
    align-items: center;

    .textDiagnosticoDet {
        text-align: center;
        font-size: 18px;
    }

    .iconAnalisis {
        font-size: 25px;
    }
}

.imgBtnAnalisis {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
}

.imgBtnAnalisisComp {
    height: 100%;
}

.analisisCompleto button:hover {
    background: var(--fondoBotones);
}

.iconAnalisis {
    color: rgb(0, 187, 255);
}

/*quinta columna:*/
.ultimo {
    grid-area: ultimo;
    display: grid;
    grid-template-areas:
        "detdiagnostico"
        "antivirus"
        "ultMant"
        "ultHist";
    text-align: center;
    gap: 10px;
    grid-template-rows: auto;
    justify-items: center;
    width: 100%;
}

.btnUlt {
    position: relative;
    overflow: hidden;
    transition: all 3s ease;
    cursor: pointer;
}

.btnUlt:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    transition: all 0.4s ease;
    border-radius: 30px;
}

.btnUlt:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.4);
    border-radius: 30px;
    background: var(--fondoBotones);
    border: 1px solid rgba(0, 123, 255, 0.4);
}

.btnUlt:hover:before {
    left: 100%;
    border-radius: 30px;
}

.btnUlt:active {
    transform: translateY(0);
    border-radius: 30px;
}

.monitoreo,
.red,
.detdiagnostico,
.antivirus,
.ultMant,
.ultHist {
    position: relative;
    width: 100%;
    gap: 10px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    overflow: hidden;
}

/* ::before sin nada visible al inicio */
.monitoreo::before,
.red::before,
.detdiagnostico::before,
.antivirus::before,
.ultMant::before,
.ultHist::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(42, 76, 89);
    border-radius: 30px;
    z-index: -1;
}

/* Fondo interior */
.monitoreo::after,
.red::after,
.detdiagnostico::after,
.antivirus::after,
.ultMant::after,
.ultHist::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: rgb(37, 36, 36);
    border-radius: 28px;
    z-index: -1;
}

.borde-animado::before {
    background: linear-gradient(45deg,
            rgb(13, 103, 111),
            rgb(3, 55, 140),
            rgb(0, 81, 139),
            rgba(0, 123, 255, 0.4),
            rgb(51, 3, 119),
            rgb(14, 14, 178),
            rgb(20, 113, 183));
    background-size: 400%;
    animation: animateBorder 5s linear infinite;
}

/* Animación del borde */
@keyframes animateBorder {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 400% 50%;
    }
}

.imgMantGIF {
    display: none;
    filter: drop-shadow(7px 7px 9px rgb(6, 11, 54));
}

#imgMant {
    filter: drop-shadow(7px 7px 9px rgb(6, 11, 54));
}

.imgDiagnosticoGIF {
    display: none;
    filter: drop-shadow(7px 7px 9px rgb(6, 11, 54));
}

/* Modo tablet. falta arreglar */
@media (min-width: 768px) {}

/* Modo desktop */
@media (min-width: 992px) {
    body {
        overflow: hidden;
    }

    .container {
        grid-template-rows: 30px auto 10px;
    }

    .content-body {
        grid-template-areas:
            "primero asistente asistenteSoporte analisis ultimo";
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr !important;
        /* el / significa que después de eso se determina el tamaño del ancho de cada columna */
        gap: 25px;
    }
    /*primera columna:*/
    .primero {
        grid-template-rows: 15% 70% auto !important;
        justify-items: center;
    }

    .logo {
        width: 100%;
        gap: 0;
    }

    .logoIMG {
        padding-left: 10px;
    }

    .nombreLogo {
        padding: 0px;
        text-align: center;
        font-size: 18px;
        width: auto;
    }

    /*div de ubicacion y mapa*/
    .Ubicacion {
        grid-template-areas:
            "nombreUbi"
            "mapa";
        gap: 15px;
        grid-auto-rows: 15% auto;
        width: 100%;
    }

    .nombreUbi {
        font-size: 18px;
        width: 100%;
        padding: 0px;
        margin-left: 0%;
    }

    .mapa {
        margin-left: 0%;
        height: 100%;
        width: 100%;
    }

    .tecnicosDisponibilidad {
        width: 100%;
    }

    /*segunda columna*/
    .asistente {
        grid-template-rows: 15% 10% auto auto 10% !important;
        gap: 10px;
        width: 100%;
    }

    .asistVirtual {
        padding: 0px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        text-shadow: 5px 1px 8px rgb(3, 101, 140);
        border-radius: 30px;
        align-content: center;
        border: 3px solid rgb(42, 76, 89);
        background: none;
        box-shadow: 5px 10px 10px -8px black;
    }

    .botonAsist {
        align-items: center;
        height: 100%;
    }

    .monitoreo,
    .recomendaciones {
        width: 100%;
    }

    .recomendaciones {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 90%;
        justify-content: center;
    }

    .graficoMonit {
        display: flex;
        height: 80px;
        justify-content: center;
    }

    .imgGrafico {
        height: 100%;
    }

    .botonesSoporte {
        width: 100%;
        align-items: flex-start;
    }

    .botCentro {
        padding: 0px;
        margin-top: 0%;
        margin-bottom: 0%;
        height: 100%;
    }

    /*tercera columna:*/
    .asistenteSoporte {
        grid-template-areas:
            "nombreAsistente"
            "imagenIA"
            "mensajeIA";
        gap: 10px;
        grid-template-rows: auto;
        justify-items: center;
        width: 100%;
        height: 100%;
    }

    .nombreAsistente {
        padding: 0px;
        text-align: center;
        font-size: 45px;
        text-shadow: 5px 1px 8px rgb(3, 101, 140);
        background: none;
    }

    .imagenIA {
        grid-area: imagenIA;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-container {
        width: 100%;
    }

    #robotimg {
        width: 80%;
        display: flex;
        filter: drop-shadow(1px 1px 12px rgba(42, 147, 189, 3));
    }

    .video-container {
        width: 100%;
        position: relative;
        display: none;
        justify-content: center;
        filter: drop-shadow(1px 1px 12px rgba(42, 147, 189, 3));
    }

    #robotGIF {
        display: flex;
        clip-path: circle(50% at 50% 50%);
        object-fit: cover;
        /*ajustar el contenido (como imágenes o videos) dentro de un contenedor*/
        width: 80%;
    }

    #audioRobot {
        display: none;
    }

    .microfono {
        padding: 8px 10px 8px 10px;
        border-radius: 100%;
        border: 3px solid #007ea7;
        background-color: #007ea7;
        color: white;
        font-size: x-large;
    }

    .microfono:hover {
        background-color: white;
        border: 3px solid #007ea7;
        box-shadow: 3px 2px 10px #007ea7;
        color: #007ea7;
        cursor: pointer;
    }

    /*cuarta columna*/
    .analisisCompleto {
        width: 100%;
    }

    .analisisComp {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
    }

    .analisisButton {
        width: 100%;
        padding: 0px;
    }

    .iconDiagnostico {
        padding-left: 10px;
    }

    .textDiagnosticoDet {
        padding-right: 10px;
    }

    #btnAnalisiCompleto .textButton {
        font-size: 18px;
    }

    #btnMonitoreo .textDiag {
        font-size: 20px;
        padding: 3px;
    }

    #btnRed .textDiag {
        font-size: 20px;
        padding: 3px;
    }

    /*Quinta columna:*/
    .ultimo {
        display: grid;
        grid-template-areas:
            "detdiagnostico"
            "antivirus"
            "ultMant"
            "ultHist";
        grid-template-rows: auto !important;
        text-align: center;
        gap: 10px;
        justify-items: center;
    }

    .btnUlt {
        width: 100%;
        height: 100%;
        background: none;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        font-size: 18px;
        justify-content: center;
        border-radius: 30px;
    }

    .ultimo .btnUlt .textDiag {
        font-size: 20px;
    }

    .imgDetDiag {
        display: flex;
        height: 90px;
        justify-content: center;
    }

    .imgDiagnostico,
    .imgMantGIF,
    .imgDiagnosticoGIF {
        height: 100%;
    }

    /*progress bar*/
    .progress-bar {
        position: relative;
        width: 80%;
        height: 23px;
        border-radius: 30px;
        background-color: white;
        box-shadow: 5px 5px 10px rgb(3, 101, 140);
        display: none;
    }

    .progress-bar span {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        color: white;
        text-align: center;
        align-items: center;
        line-height: 1.7;
        border-radius: 30px;
        background: linear-gradient(120deg, rgb(3, 80, 111), rgb(0, 187, 255));
        transition: width .5s linear;
    }
}